/*
Styling for wordcloud.html
*/

.outer-wc{
    /* background-color: rgb(248, 247, 246); */
    height: 820px;
    justify-content: center;
    padding-top: 2vh;
}


#word-cloud{
    height: 730px;
    width: 1206px;
    /* border: 1px solid darkslategray; */
    overflow: scroll;
    padding-top: 20px;
    padding-left: 40px;
}
